body{
    font-family: "Montserrat", sans-serif;
}

h1,h2,h3,h4,h5,h6,ul,li,p{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

img{
    display: block;   
}
*,
*::before,
*::after{
    box-sizing: border-box;
}

.container{
    width: 1250px;
    margin: 0 auto;
    padding: 0 16px 0 16px;
}


/*
--------------------------------------HEADER----------------------------------------
*/



.header{
    background: #84a178;
}
.header-container{
    height: 664px;
    margin: 0 auto;
    position: relative;
}

.header-container-top{
    display: flex;
    align-items: center;
}

.header-logo{
    cursor: pointer;
    margin-top: 13px;
}

.header-nav-list{
    display: flex;
    gap: 27px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 269px;
}

.header-nav-list .header-nav-item{
    font-weight: 700;
    font-size: 16px;
}

.header-nav-item a:hover, .header-nav-item a:focus{
    color: #f8d24e;
    transition: color, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}


.header-nav-item a{
    color: white;
    transition: color, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header-top-button{
    margin-left: auto;
    width: 152px;
    height: 42px;
    border-radius: 10px;
    background: #f8d24e;
    border: none;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #131313;
    margin-top: 40px;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}

.header-top-button:hover{
    background: #0a8817;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header-top-button:focus{
    background: #0a8817;
    color: white;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}


.header-container-middle{
    display: flex;
    align-items: flex-start;
}

.header-container-middle-one{
    display: flex;
    flex-direction: column;
}

.header-motto{
    font-family: "Seymour One", sans-serif;
    font-weight: 400;
    font-size: 38px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fcfcfc;
    max-width: 367px;
    margin-top: 45px;
}

.header-container-middle-buttons{
    display: flex;
    gap: 34px;
    margin-top: 28px;
    justify-content: flex-start;
    align-items: center;
}

.products-button{
    cursor: pointer;
    width: 134px;
    height: 42px;
    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    text-align: center;
    color: #131313;
    border: 2px solid #f8d24e;
    border-radius: 10px;
    background: transparent;
}

.products-button:hover{
    border: 2px solid #0a8817;
}

.products-button:first{
    border: 2px solid #0a8817;
    color: #fcfcfc;
}

.made-link{
    font-weight: 600;
    font-size: 14px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    color: #f8d24e;
}

.image-wrapper {
    position: absolute;
    top: 114px;
    left: 54.25%;
    max-width: 447px;
    width: 100%;
    height: auto;
}


.header-main-image-container1 {
    position: relative;
    width: 100%;
    height: auto;
}

.header-main-image1 {
    width: 100%;
    height: auto;
    display: block;
}

.header-main-image-container {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.header-main-image {
    width: 100%;
    height: auto;
}

.header-container-middle-numbers-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 56px;
    margin-left: auto;
    gap: 27px;
}

.header-container-middle-numbers-text-one{
    font-weight: 900;
    font-size: 46px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: right;
    color: #131313;
    margin-left: auto;
}

.header-container-middle-numbers-text-two{
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    color: #fcfcfc;
    
    margin-left: auto;
}

.header-dots{
    max-width: 100%;
    width: 100%;
    height:auto;
    position:absolute;
    bottom:0;
    left: 0;
}

.header-dots-img{
    width: 100%;
    height: auto;
}

.header-plate{
    margin-top: 42px;
    display: flex;
    gap:14px;
    justify-content: flex-start;
    align-items: center;
}

.header-plate-image-container{
    max-width: 225px;
    width: 100%;
    height: auto;
}

.header-plate-image{
    width: 100%;
    height: auto;
}

.header-plate-text-container{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    gap: 32px;
    justify-content: center;
    align-items: flex-start;
    margin-top: 67px;
}

.header-plate-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #fcfcfc;
}

@media (max-width: 1250px){
    .container{
        width: 100%;
    }
}
@media (min-width: 769px) and (max-width: 1158px){
    .image-wrapper {
        max-width: 270px;
    }
    .header-container{
        height: 415px;
    }
    
}
/*
--------------------------------------MAIN----------------------------------------
*/



