body{
    font-family: "Montserrat", sans-serif;
}

h1,h2,h3,h4,h5,h6,ul,li,p{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

img{
    display: block;   
}
*,
*::before,
*::after{
    box-sizing: border-box;
}

.container{
    width: 1250px;
    margin: 0 auto;
    padding: 0 16px 0 16px;
}


/*
--------------------------------------HEADER----------------------------------------
*/



.header{
    background: #84a178;
    position: relative;
}
.header-container{
    height: 664px;
    margin: 0 auto;
    position: relative;
}

.header-container-top{
    display: flex;
    align-items: center;
}

.header-logo{
    cursor: pointer;
    margin-top: 13px;
}

.header-nav-list{
    display: flex;
    gap: 27px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 269px;
}

.header-nav-list .header-nav-item{
    font-weight: 700;
    font-size: 16px;
}

.header-nav-item a:hover, .header-nav-item a:focus{
    color: #f8d24e;
    transition: color, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}


.header-nav-item a{
    color: white;
    transition: color, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header-top-button{
    margin-left: auto;
    width: 152px;
    height: 42px;
    border-radius: 10px;
    background: #f8d24e;
    border: none;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #131313;
    margin-top: 40px;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}

.header-top-button:hover{
    background: #0a8817;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header-top-button:focus{
    background: #0a8817;
    color: white;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}


.header-container-middle{
    display: flex;
    align-items: flex-start;
}

.header-container-middle-one{
    display: flex;
    flex-direction: column;
}

.header-motto{
    font-family: "Seymour One", sans-serif;
    font-weight: 400;
    font-size: 38px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fcfcfc;
    max-width: 367px;
    margin-top: 45px;
}

.header-container-middle-buttons{
    display: flex;
    gap: 34px;
    margin-top: 28px;
    justify-content: flex-start;
    align-items: center;
}

.products-button{
    cursor: pointer;
    width: 134px;
    height: 42px;
    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    text-align: center;
    color: #131313;
    border: 2px solid #f8d24e;
    border-radius: 10px;
    background: transparent;
    z-index:10;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.products-button:hover{
    border: 2px solid #0a8817;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.products-button:focus{
    border: 2px solid #0a8817;
    color: #fcfcfc;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.made-link{
    font-weight: 600;
    font-size: 14px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    color: #f8d24e;
    z-index:10;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.made-link:hover{
    color: #0a8817;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.made-link:focus{
    color: white;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header-main-image1 {
    width:642px; 
    height:764px;
    position: absolute;
    top: 0;
    left: 558px;
    pointer-events: none;
}
.header-main-image {
    width: 447px;
    height: 561px;
    position: absolute;
    top: 103px;
    left: 651px;
}

.header-container-middle-numbers-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 56px;
    margin-left: auto;
    gap: 27px;
}

.header-container-middle-numbers-text-one{
    font-weight: 900;
    font-size: 46px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: right;
    color: #131313;
    margin-left: auto;
}

.header-container-middle-numbers-text-two{
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    color: #fcfcfc;
    
    margin-left: auto;
}

.header-dots{
    max-width: 100%;
    width: 100%;
    height:auto;
    position:absolute;
    bottom:0;
    left: 0;
    pointer-events: none;
}

.header-dots-img{
    width: 100%;
    height: auto;
    pointer-events: none;
}

.header-plate{
    margin-top: 42px;
    display: flex;
    gap:14px;
    justify-content: flex-start;
    align-items: center;
}

.header-plate-image-container{
    max-width: 225px;
    width: 100%;
    height: auto;
}

.header-plate-image{
    width: 100%;
    height: auto;
}

.header-plate-text-container{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    gap: 32px;
    justify-content: center;
    align-items: flex-start;
    margin-top: 67px;
}

.header-plate-text-container img{
    transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    padding-top:5px;
    padding-bottom: 5px; 
}

.header-plate-text-container img:hover{
    content: url("./images/arrow-long.svg");
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header-plate-text-container img:focus{
    content: url("./images/arrow-long.svg");
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}


.header-plate-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #fcfcfc;
}

@media (max-width: 1250px){
    .container{
        width: 100%;
    }
}
@media (min-width: 769px) and (max-width: 1157px){
    .image-wrapper {
        max-width: 270px;
    }
    .header-container{
        height: 415px;
    }
    
}
/*
--------------------------------------MAIN----------------------------------------
*/

/*
--------------------------------------SECTION-1----------------------------------------
*/

.section-one{
    background-image: url('./images/icecream-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-one-header-one{
    margin-bottom: 12px;
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #131313;
}

.section-one-header-two{
    font-family: "Seymour One", sans-serif;
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #131313;
    margin-bottom: 300px;
}

.section-one-cards-list{
    display: flex;
    gap: 32px;
}

.section-one-cards-item{
    width: 370px;
    border-radius: 24px;
    border: none;
    position: relative;
}

.item-one{
    background: #aec6a5;
}

.item-two{
    background: #EFD478;
}

.item-three{
    background: #D6936D;
}
.circle{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 50%;
    border-radius: 100%;
    transform: translate(-50%, -50%);
}

.circle-one{
    box-shadow: 0 8px 30px 0 rgba(10, 136, 23, 0.25);
    background: #aec6a5;
}

.circle-two{
    background-color: #EFD478;
    box-shadow: 0 8px 30px 0 rgba(153, 114, 23, 0.25);
}

.circle-three{
    background-color:#D6936D;
    box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.25);
}

.circle-top{
    position: absolute;
    top: 0;
    left: 50%;
    border-radius: 100%;
    transform: translate(-50%, -55%);
}

.section-one-cards-header{
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #131313;
    margin-top: 166px;
    margin-bottom: 65px;
}

.section-one-cards-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.04em;
    text-align: center;
    color: #131313;
    max-width: 246px;
    height: 147px;
    margin: 0 auto;
    margin-bottom: 47px;
}

.section-one-cards-image{
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}

/*
--------------------------------------SECTION-2----------------------------------------
*/

.section-two{
    position: relative;
    background: #84a178;
    padding-top: 60px;
    padding-bottom: 180px;
}

.section-two-container{
    
}

.section-two-header-one{
    margin-bottom: 12px;
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.section-two-header-two{
    font-family: "Seymour One", sans-serif;
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: white;
    margin-bottom: 82px;
}

.section-two-circle{
    position: relative;
    border-radius: 100%;
    width: 500px;
    height: 500px;
    box-shadow: 0 8px 30px 0 rgba(153, 114, 23, 0.25);
    background: rgba(248, 210, 78, 0.7);
}

.section-two-image{
    width: 490px;
    height: 490px;
    position:absolute;
    top:0;
    left: 50%;
    transform: translate(-50%, 38px);
}

.section-two-content-container{
    display: flex;
    gap: 100px;
    margin-bottom: 60px;
}

.section-two-content-container-two{
    margin-bottom: 152px;
}

.section-two-content-container-two-text{
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 48px;
    margin-top: 90px;
}

.section-two-content-container-two-text .text-one{
    width: 463px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.04em;
    color: #fcfcfc;
}

.section-two-content-container-two-text .text-two{
    width: 463px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.94;
    letter-spacing: 0.04em;
    color: #fcfcfc;
}

.section-two-content-container-two-text .text-three{
    width: 463px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.94;
    letter-spacing: 0.04em;
    color: #fcfcfc;
}

.section-two-content-container-two-button{
    display: block;
    width: 164px;
    height: 42px;
    background: #f8d24e;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    color: #131313;
    border:none;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}

.section-two-content-container-two-button:hover{
    background: #0a8817;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.section-two-content-container-two-button:focus{
    background: #0a8817;
    color: white;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.section-two-cow-list{
    display: flex;
    gap: 80px;
}

.section-two-cow-item{
    width: calc((100% - 2*80px) / 3)
}

.section-two-cow-circle{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #f8d24e;
    margin: 0 auto;
    margin-bottom: 32px;
    border-radius: 100%;
}

.section-two-cow-item-text-one{
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #fcfcfc;
    margin-bottom: 16px;
}

.section-two-cow-item-text-two{
    width: 152px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.74;
    text-align: center;
    color: #fcfcfc;
}


/*
--------------------------------------SECTION-3----------------------------------------
*/

.section-three{
    background-image: url('./images/icecream-background-2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 448px;
    padding-bottom: 208px;
    position: relative;
}

.section-three-container{
    
}

.section-three-image-container{
    position: absolute;
    top:0;
    left: 50%;
    transform: translate(-50%, -22%);
}

.section-three-photo{
    margin: 0 auto;
    margin-bottom: 32px;
}

.section-three-plaque{
    width: 968px;
    height: 137px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #84a178;
    border-radius: 24px;
    margin: 0 auto;
    margin-bottom: 32px;
}

.section-three-plaque-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fcfcfc;
}

.section-three-plaque-text-two{
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    text-align: center;
    color: #131313;
    margin-bottom: 32px;
}

.section-three-points-list{
    display: flex;
    gap: 18px;
    margin: 0 auto;
    justify-content: center;
}

.section-three-points-item{
    width: 12px;
    height: 12px;
    border:none;
    border-radius: 100%;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color:  #d9d9d9;
    cursor: pointer;
}

.section-three-points-item:hover{
    background-color: #84a178;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.highlighed{
    width: 12px;
    height: 12px;
    border:none;
    border-radius: 100%;
    background-color: #84a178;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}


/*
--------------------------------------FOOTER----------------------------------------
*/

.footer{
    background: #84a178;
    max-height: 1889px;
}

.footer-container{
    position: relative;
}

.footer-container-list {
    display: flex;
    gap: 32px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-18%);
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.footer-container-list-card{
    width:calc((100% - 2*32px) / 3);
    max-width: 368px;
    border-radius: 24px;
    box-shadow: 0 8px 30px 0 rgba(212, 20, 67, 0.1);
    background: #fff;
    padding: 40px;
    margin-bottom: 64px;
}


.upper-card{
    width: 75px;
    height: 28px;
    border: none;
    border-radius: 6px;
    background: #f8d24e;
}

.upper-card-text{
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    text-align: center;
    color: #131313;
}

.upper-card-food-truck{
    width: 138px;
    height: 28px;
    border: none;
    border-radius: 6px;
    background: #f8d24e;
}

.footer-review{
    padding-top: 32px;
    padding-bottom: 32px;
    max-width: 100%;
    border-bottom: 1px solid #e1e1e1;
}

.footer-review-text-one{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    color: #131313;
}

.footer-review-text-two{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.83;
    letter-spacing: 0.04em;
    color: #d6936d;
}

.footer-review-text-two:hover{
    text-decoration: underline;
}

.footer-review-two{
    padding: 32px 0 32px 0;
    max-width: 100%;
    border-bottom: 1px solid #e1e1e1;
}

.footer-review-two-text-one{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    color: #131313;
}

.footer-review-two-text-two{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    color: #ababab;
}

.footer-review-adress{
    padding-top: 32px;
}

.footer-review-tel, .footer-review-email{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.83;
}

.footer-review-tel a, .footer-review-email a{
    color: #131313;
}

.footer-buttons{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.footer-button-one{
    display: block;
    width: 196px;
    height: 42px;
    border: none;
    background: #f8d24e;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    color: #131313;
    border-radius: 10px;
    margin-top: 506px;
    margin-bottom: 120px;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}

.footer-button-one:hover{
    background: #0a8817;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.footer-button-one:focus{
    background: #0a8817;
    color: white;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.footer-button-two{
    display: block;
    width: 196px;
    height: 42px;
    background: transparent;
    border: 2px solid #f8d24e;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    color: #131313;
    margin-top: 506px;
    margin-bottom: 120px;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}

.footer-button-two:hover{
    border: 2px solid #0a8817;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.footer-button-two:focus{
    border: 2px solid #0a8817;
    color: #fcfcfc;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}



.footer-lower-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 99px;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 12px;
}

.footer-lower-lext-left-one{
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fcfcfc;
    margin-bottom: 14px;
}

.footer-lower-lext-left-two{
    font-weight: 700;
    font-size: 58px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fcfcfc;
}

.footer-lower-icons-right{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-sl-list{
    display: flex;
    gap:30px;
    justify-content: flex-end;
    align-items: center;
    margin-top: 12px;
}

.footer-sl-item{
    width: 34px;
    height: 34px;
    border:none;
    background: #f8d24e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}


.footer-sl-item:hover img {
    filter: brightness(0) invert(1);
    transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.footer-sl-item:focus{
    width: 38px;
    height: 38px;
}


.footer-lower-icons-right-text{
    text-align: end;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: #131313;
}

.footer-lower-icons-right-text span{
    color: #fff;
}

.bottom-text{
    font-weight: 700;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.02em;
    color: #7a7a7a;
    text-align: center;
    padding-bottom: 11px;
}

/*
--------------------------------------MODAL-1----------------------------------------
*/


.modal-one-overlay{
    display:none;
    pointer-events: none;
}

.modal-one-overlay .is-open{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 10;
    pointer-events: all;
}

.modal-window-one{
    width: 568px;
    min-height: 644px;
    background-color: white;
    padding: 32px 54px;
    border-radius: 10px;
    border: 2px solid rgba(248, 210, 78, 1);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

.close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
}

.modal-one-header{
    font-family: "Seymour One", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 103px;
    line-height: 1.4;
    text-align: center;
    color: #131313;
}

.modal-one-list{
    display: flex;
    gap: 32px;
    margin-bottom: 40px;
}

.modal-one-item{
    width: calc((100% - 2*32px) / 3);
    border-radius: 16px;
    position: relative;
}

.modal-item-one{
    border: 2px solid #96af8c;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modal-item-one:hover{
    background-color: #96af8c;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0 5px 20px 0 rgba(10, 136, 23, 0.25);
}


.modal-item-two{
    border: 2px solid #EFD478;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    
}

.modal-item-two:hover{
    background-color: #EFD478;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0 5px 20px 0 rgba(153, 114, 23, 0.25);
}

.modal-item-three{
    border: 2px solid #D6936D;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modal-item-three:hover{
    background-color: #D6936D;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
}

.modal-one-text{
    margin-top: 90px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #131313;
}

.modal-circle{
    width: 130px;
    height: 130px;
    position: absolute;
    top: 0;
    left: 50%;
    border-radius: 100%;
    transform: translate(-50%, -50%);
}

.modal-circle-one{
    box-shadow: 0 8px 30px 0 rgba(10, 136, 23, 0.25);
    background: #aec6a5;
}

.modal-circle-two{
    background-color: #EFD478;
    box-shadow: 0 8px 30px 0 rgba(153, 114, 23, 0.25);
}

.modal-circle-three{
    background-color:#D6936D;
    box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.25);
}

.modal-circle-top{
    position: absolute;
    top: 0;
    left: 50%;
    border-radius: 100%;
    transform: translate(-50%, -55%);
}

.modal-one-input{
    width: 368px;
    height: 42px;
    padding-left: 16px;
    padding-right: 16px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;
    margin-bottom: 16px;
    margin-left: 46px;
    margin-right: auto;
}

.modal-one-input::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #131313;
}

.modal-one-textarea{
    width: 368px;
    height: 82px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 11px;
    margin-left: 46px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;
    resize: none;
    margin-bottom: 32px;
}

.modal-one-textarea::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #131313;
}

.modal-one-submit-button{
    border-radius: 10px;
    width: 121px;
    height: 42px;
    border: none;
    background: #f8d24e;
    display: block;
    margin: 0 auto;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #131313;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}

.modal-one-submit-button:hover{
    background: #0a8817;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modal-one-submit-button:focus{
    background: #0a8817;
    color: white;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*
--------------------------------------MODAL-2----------------------------------------
*/
.modal-two-overlay{
    display:none;
    pointer-events: none;
}

.modal-two-overlay .is-open{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 10;
    pointer-events: all;
}

.modal-window-two{
    width: 568px;
    background-color: white;
    padding: 32px 40px;
    border-radius: 10px;
    border: 2px solid rgba(248, 210, 78, 1);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
}

.modal-two-header{
    font-family: "Seymour One", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 186px;
    line-height: 1.4;
    text-align: center;
    color: #131313;
}

.modal-two-circle{
    width: 132px;
    height: 132px;
    position: absolute;
    left: 50%;
    top: 91px;
    border-radius: 100%;
    background: rgba(156, 190, 143, 1);
    fill: #d9d9d9, rgba(156, 190, 143, 0.7);
    box-shadow: 0 5px 20px 0 rgba(10, 136, 23, 0.25);
    transform: translateX(-50%);
    margin-bottom: 24px;
}

.modal-two-img{
    position: absolute;
    left: 50%;
    top: 84px;
    border-radius: 100%;
    transform: translateX(-50%);
}

.modal-two-list-container{
    padding-left: 84px;
    padding-right: 84px;
    margin-bottom: 48px;
}

.modal-two-list{
    display: flex;
    gap: 20px;
}

.modal-two-item{
    border: 2px solid #9cbe8f;
    border-radius: 40px;
    width: 65px;
    height: 90px;
    position: relative;
}
.list-circle{
    width: 53px;
    height: 53px;
    position: absolute;
    left: 50%;
    top:0;
    transform: translateX(-50%);
    box-shadow: 0 6px 20px 0 rgba(10, 136, 23, 0.25);
    border-radius: 100%;
    background-color: #9cbe8f;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-circle-text{
    font-weight: 500;
    font-size: 12px;
    line-height: 2.33333;
    text-align: center;
    color: #131313;
}


.modal-two-list-text{
    text-align: center;
    margin-top: 61px;
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #131313;
}

.modal-two-header-ingredients{
    font-weight: 500;
    font-size: 20px;

    /* line-height: 28px; */ 
    line-height: 1.4;
    text-align: center;
    color: #131313;
    margin-bottom: 24px;
}

.ingredients-table{
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-bottom: 40px;
}

.ingredients-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ingredient{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.76;
    letter-spacing: 0.04em;
    text-align: center;
    color: #131313;
}

.modal-two-input{
    width: 368px;
    height: 42px;
    padding-left: 16px;
    padding-right: 16px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;
    margin-bottom: 16px;
    margin-left: 60px;
    margin-right: auto;
}

.modal-two-input::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #131313;
}

.modal-two-textarea{
    width: 368px;
    height: 82px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 11px;
    margin-left: 60px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;
    resize: none;
    margin-bottom: 32px;
}

.modal-two-textarea::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #131313;
}
/*
--------------------------------------MODAL-3----------------------------------------
*/

.modal-three-overlay{
    display:none;
    pointer-events: none;
}


.modal-three-overlay .is-open{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 10;
    pointer-events: all;
}

.modal-window-three{
    width: 568px;
    background-color: white;
    padding: 32px 40px;
    border-radius: 10px;
    border: 2px solid rgba(248, 210, 78, 1);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
}

.modal-three-header{
    font-family: "Seymour One", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 32px;
    line-height: 1.4;
    text-align: center;
    color: #131313;
}

.play-window{
    width: 100%;
    height: 205px;
    border-radius: 10px;
    border: none;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.modal-three-text{
    width: 100%;
    height: 88px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #131313;
}


/*
--------------------------------------MODAL-4----------------------------------------
*/

.modal-four-overlay{
    display:none;
    pointer-events: none;
}

.modal-four-overlay .is-open{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 10;
    pointer-events: all;
}

.modal-window-four{
    width: 568px;
    background-color: white;
    padding: 32px 40px;
    border-radius: 10px;
    border: 2px solid rgba(248, 210, 78, 1);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.modal-four-header{
    font-family: "Seymour One", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 32px;
    line-height: 1.4;
    text-align: center;
    color: #131313;
}

.modal-four-map{
    width: 100%;
    height: auto;
    margin-bottom: 32px;
}

.modal-four-btn{
    width: 145px;
    height: 42px;
    background: #f8d24e;
    border-radius: 10px;
    border:none;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #131313;
    display: block;
    margin: 0 auto;
}

/*
--------------------------------------MODAL-5----------------------------------------
*/

.modal-five-overlay{
    display:none;
    pointer-events: none;
}

.modal-five-overlay .is-open{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 10;
    pointer-events: all;
}

.modal-window-five{
    width: 568px;
    background-color: white;
    padding: 32px 60px;
    border-radius: 10px;
    border: 2px solid rgba(248, 210, 78, 1);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.modal-five-header{
    text-align: center;
    width: 322px;
    margin: 0 auto;
    font-family: "Seymour One", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 24px;
    line-height: 1.4;
    text-align: center;
    color: #131313;
}

.modal-five-text{
    width: 100%;
    min-height: 132px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #131313;
    margin-bottom: 32px;
}

.modal-five-input{
    width: 368px;
    height: 42px;
    padding-left: 16px;
    padding-right: 16px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;
    margin-bottom: 16px;
    margin-left: 40px;
    margin-right: auto;
}

.modal-five-input::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #131313;
}

.modal-five-textarea{
    width: 368px;
    height: 82px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 11px;
    margin-left: 40px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;
    resize: none;
    margin-bottom: 32px;
}

.modal-five-textarea::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #131313;
}

.modal-five-submit-button{
    border-radius: 10px;
    width: 121px;
    height: 42px;
    border: none;
    background: #f8d24e;
    display: block;
    margin: 0 auto;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #131313;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}

.modal-five-submit-button:hover{
    background: #0a8817;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modal-five-submit-button:focus{
    background: #0a8817;
    color: white;
    transition: all, 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}